*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel-inner{
    max-height: 550px;
}

.carousel-inner img{
    max-height: 550px;
    object-fit: cover;
    object-position: center;
}

.card img{
    height: 250px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.table thead{
    border-top-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

@media(max-width:1200px){
    .card{
        width: 100% !important;
    }
}





